* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f5f5f5;
    background-image: url('/static/images/background_img_stadium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-background {
    background-color: #990011
}

.navbar-text-content {
    color: #fcf6f5;
}




.welcome-page-cta {
    margin-top: 10%;
    background-color: #fcf6f5;
}

.welcome-page-cta > h3 {
    padding-bottom: 10px;
}




.all-leagues {
    background-color:green ;
}


/* Custom margins and background color- etc */ 

.lg-mtch-bk {
    background-color: #fcf6f5;
}

.btn-margin {
    margin: 0.25rem;
}


.league-card-margin {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.pagination-ct {
    background-color: #990011;
    color: #fcf6f5;
    border-radius: 3px 9px;
}

.bx-shd {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mrg-top {
    margin-top: 3%;
}


/*Styling for displaying list of matches 
Inspiration for design taken from https://www.fotbollskanalen.se/premier-league/?tab=matches 
and adapted to my content 
*/ 

.bold {
    font-weight: bold;
}

.match-list-container {
   
}

.bk-matches-heading {
    background-color: #fff;
    margin-bottom: 0;
}

.match-list {
    list-style-type: none;
}

.match-list-ul {
    padding: 0;
}

.pd-list-matches {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    background-color: #fff;
}

.team-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: #f4f4f4 1px solid;
    padding: 12px 0;
}

.teams {
    display: flex;
    flex-direction: column;
    flex: 6;
    padding-right: 0.25rem;

}

.team-item {
    height: 32px;
    align-items: center;
    display: flex;

}


.score-list {
    display: flex;
    flex-direction: column;
    border-right: #f4f4f4 1px solid;
    padding-right: 0.25rem;
    justify-content: center;
    align-items: center;

}

.match-date-list {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.25rem;

}

.date-name-cell {
    display: flex;
    align-items: center;
}

.lg-name-list {
    min-width: 80px;
    max-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.25rem;
}



/*Media query for list of matches display */ 
@media (min-width: 968px) {
.match-date-container {
    width: 160px; 
}

.lg-name-list {
    padding-left: 1rem;
}

.match-date-list {
    padding-left: 1rem;
}

.score-list {
    padding-right: 1.5rem;
}

.teams {
    padding-right: 1rem;
}

.table-matches-container {
    font-size: 1.25rem;
}
    }




/*Media query for list of matches display */ 
@media (min-width: 576px) {

.lg-name-list {
    padding-left: 0.5rem;
}
    
.match-date-list {
    padding-left: 0.5rem;
}
    
.score-list {
    padding-right: 1rem;
}
    
.teams {
    padding-right: 0.5rem;
}
}




.table-container {
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}


/*
Styling for table for displaying standings in detailed league
Credit to https://codepen.io/Shayley/pen/NWqrvqQ 
*/

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
    width: 60%;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: black;
	color: #ffe221;
}

.table-heading{
    text-align: center;
	text-decoration: none;
	color: #990011;
	margin: 30px;
	display: block;
}

.wpos{

    background-color: grey;
    border-bottom: solid 1px;
}

.wpos td{
	color: #77ff21;
}


.pos td{
	color: #ff7b21;
}

.wpos:hover{
	background-color: #77ff21;
}

.wpos:hover td{
	color: #000000;
}

.pos:hover{
	background-color: #ff7b21;
}

.pos:hover td{
	color: #000000;
}

.bottom-table-row {
    border-bottom: solid 2px;

}

.upper-table-row {
    border-top: solid 2px;
}






/* Custom media breakpoints */ 

@media (max-width: 576px) {
    .btn-custom-small {
        font-size: 1rem;
        padding: 0.375rem 0.75rem;
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;
    }
}


@media (min-width: 1200px) {
    .cont-custom-width {
        max-width: 960px;
    }

}
