{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}



    <!-- Form for creating your league, credit to CI- walktrhough  -->
    <div class="container ">
      <div class="col card justify-content-center lg-mtch-mrg-bk">
          <div class="card-body">
            <h3>Create a league</h3>

            <!-- TODO - add search bar functionality

            <div class="form-group">
              <label for="searchInput">Search for users:</label>
              <input type="text" class="form-control" id="searchInput" placeholder="Enter username">
              <button id="searchButton" class="btn btn-primary">Search</button>
              <ul id="searchResults"></ul>
          </div>
           -->

            <form id="CreateLeagueForm" method="post">
              {{ create_league_form | crispy }}
              {% csrf_token %}
              <button id="submitButton" type="submit"
                class="btn btn-lg btn-success">Submit</button>
            </form>
  
          </div>
        </div>
      </div>

{% endblock %}