{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}





  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-md-9 p-3 rounded detailed-league">
              <h3 class="text-center">{{ league_instance.name }} Standings</h4>

              <div class="d-flex justify-content-center">
                <ol>
                  {% for user, points in standings %}
                  <li>{{ user.username }}: {{ points }} points</li>
                  {% endfor %}
                </ol>
              </div>
          </div>
      </div>
  </div>



    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 p-3 text-center rounded detailed-league">

          <!-- Button for collapsing all matches  -->

          <button class="btn btn-primary btn-margin" type="button" data-bs-toggle="collapse" data-bs-target="#viewMatches"
            aria-expanded="false" aria-controls="viewMatches">
            View Matches
          </button>

          <div class="table-container collapse" id="viewMatches">
            <table class="table table-borderless align-middle">
              <tbody>
                {% for match in all_matches %}
                <tr class="upper-table-row">
                  <th>{{ match.home_team }} </th>
                  <td class="td-score">{{ match.home_team_score }} </td>
                  <td rowspan="2" class="text-center"> {{ match.date|date:"M d" }}</td>

                  <!-- edit matches, credit to CI-Walkthrough  -->
                  {% if user == match.home_team or user == match.away_team %}
                  <td rowspan="2" class="text-center">
                    <a href="{% url 'edit_match' slug=league_instance.slug match_id=match.id %}"
                      class="btn btn-primary btn-sm">Edit match
                    </a>
                  </td>
                  <td rowspan="2" class="text-center">
                    <button class="btn btn-primary btn-sm btn-delete"
                      data-match_id="{{ match.id }}">Delete match
                    </button>
                  </td>

                  {% else %}
                  <td rowspan="2" class="text-center">
                    <button class="btn btn-info btn-sm btn-edit-error"
                    data-match_id="">Edit match
                    </button>
                  </td>
                  <td rowspan="2" class="text-center">
                    <button class="btn btn-info btn-sm"
                    data-match_id="">Delete match
                    </button>
                  </td>
                {% endif %}


                </tr>
                <tr class="bottom-table-row">
                  <th>{{ match.away_team }}</th>
                  <td class="td-score">{{ match.away_team_score }}</td>
                </tr>


                {% endfor %}

              </tbody>
            </table>
          </div>

          <!-- Button for collapsing add match form  -->
          <button class="btn btn-primary btn-margin" type="button" data-bs-toggle="collapse" data-bs-target="#addMatchCollapse"
            aria-expanded="false" aria-controls="addMatchCollapse">
            Add Match
          </button>

          <!-- Form for adding a match to a league credit to CI- Walkthrough  -->
          <div class="container collapse" id="addMatchCollapse">
            <div class="col card justify-content-center">
              <div class="card-body">
                <h3>Add match</h3>
                <form id="AddMatchesForm" method="post">
                  {{ add_matches_form | crispy }}
                  {% csrf_token %}
                  <button id="submit-button" type="submit" class="btn btn-lg">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



      <!-- Delete confirmation modal - credit to CI-Walkthrough -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete match?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this match?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
              btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

      <!-- Edit error message when user is not part of match - credit to CI-Walkthrough -->
<div class="modal fade" id="editErrorModal" tabindex="-1" aria-labelledby="editErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editErrorModalLabel">Not part of match!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You can only edit matches that you are a part of.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block extras %}
<script src="{% static 'js/league.js' %}"></script>
{% endblock %}


<!---
<div class="container-fluid">
  <div class="row">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Player</th>
              <th scope="col">Games played</th>
              <th scope="col">Won</th>
              <th scope="col">Draw</th>
              <th scope="col">Lost</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">1</th>
              <td>test</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
  </div>
 


-->


