{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
  body {
      background-image:none; /* Override the background image */
  }
</style>

<div class="container">
  <div class="row justify-content-center ">
    <div class="col-12 col-md-9 p-3 rounded lg-mtch-mrg-bk bx-shd">
      <div class="ptable">
        <h1 class="table-heading">{{ league_instance.name }} Standings</h1>
        <table>
          <tr class="col">
            <th>#</th>
            <th>Team</th>
            <th>GP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>PTS</th>
          </tr>

          {% for user, points in standings %}
          <tr class="wpos">
            <td>{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>

            {% for u, matches_count in user_matches_count.items %}
            {% if u == user %}
            <td>{{ matches_count }}</td>
            {% endif %}
            {% endfor %}

            {% for u, won_matches in won_matches_count.items %}
            {% if u == user %}
            <td>{{ won_matches }}</td>
            {% endif %}
            {% endfor %}

            {% for u, draw_matches in draw_matches_count.items %}
            {% if u == user %}
            <td>{{ draw_matches }}</td>
            {% endif %}
            {% endfor %}

            {% for u, lost_matches in lost_matches_count.items %}
            {% if u == user %}
            <td>{{ lost_matches }}</td>
            {% endif %}
            {% endfor %}
            <td>{{ points }}</td>
          </tr>
          {% endfor %}


        </table>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 p-3 text-center rounded lg-mtch-mrg-bk bx-shd">

      <!-- Button for collapsing all matches -->

      <button class="btn btn-primary btn-margin" type="button" data-bs-toggle="collapse" data-bs-target="#viewMatches"
        aria-expanded="false" aria-controls="viewMatches">
        View Matches
      </button>

            <!-- Button for collapsing add match form  -->
            <button class="btn btn-primary btn-margin" type="button" data-bs-toggle="collapse"
            data-bs-target="#addMatchCollapse" aria-expanded="false" aria-controls="addMatchCollapse">
            Add Match
          </button>

      <div class="table-container collapse {% if page_obj.number > 1 %} show {% endif %}" id="viewMatches">
        <table class="table table-borderless align-middle">
          <tbody>
            {% for match in page_obj %}
            <tr class="upper-table-row">
              <th>{{ match.home_team }} </th>
              <td class="td-score">{{ match.home_team_score }} </td>
              <td rowspan="2" class="text-center"> {{ match.date|date:"M d" }}</td>

              <!-- edit and delete matches, credit to CI-Walkthrough  -->
              {% if user == match.home_team or user == match.away_team %}
              <td rowspan="2" class="text-center">
                <a href="{% url 'edit_match' slug=league_instance.slug match_id=match.id %}"
                  class="btn btn-primary btn-sm">Edit match
                </a>
              </td>
              <td rowspan="2" class="text-center">
                <button class="btn btn-primary btn-sm btn-delete" data-match_id="{{ match.id }}">Delete match
                </button>
              </td>
              <!-- edit and delete buttons for when user is not part of match, connected to modal displaying message -->
              {% else %}
              <td rowspan="2" class="text-center">
                <button class="btn btn-info btn-sm btn-edit-error">
                  Edit match
                </button>
              </td>
              <td rowspan="2" class="text-center">
                <button class="btn btn-info btn-sm btn-delete-error">
                  Delete match
                </button>
              </td>
              {% endif %}
            </tr>
            <tr class="bottom-table-row">
              <th>{{ match.away_team }}</th>
              <td class="td-score">{{ match.away_team_score }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link pagination-ct"> PREV &laquo;</a></li>
              {% endif %}
      
              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}" class="page-link pagination-ct"> NEXT &raquo;</a></li>
              {% endif %}
          </ul>
      </nav>
      </div>



      <!-- Form for adding a match to a league credit to CI- Walkthrough  -->
      <div class="container collapse" id="addMatchCollapse">
        <div class="col card justify-content-center">
          <div class="card-body">
            <h3>Add match</h3>
            <form id="AddMatchesForm" method="post">
              {{ add_matches_form | crispy }}
              {% csrf_token %}
              <button id="submit-button" type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Delete confirmation modal - credit to CI-Walkthrough -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete match?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this match?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
              btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


<!-- Edit match error message when user is not part of match - credit to CI-Walkthrough -->
<div class="modal fade" id="editErrorModal" tabindex="-1" aria-labelledby="editErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editErrorModalLabel">Not part of match!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You can only edit matches that you are a part of.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete match error message when user is not part of match - credit to CI-Walkthrough -->
<div class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="deleteErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteErrorModalLabel">Not part of match!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You can only delete matches that you are a part of.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extras %}
<script src="{% static 'js/league.js' %}"></script>
{% endblock %}




