{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container">
  <div class="col card justify-content-center">
    <div class="card-body justify-content-center">
      <h5 class="card-title">{{ league_instance.name }} Standings</h5>
      <ol>
        {% for user, points in standings %}
        <li>{{ user.username }}: {{ points }} points</li>
        {% endfor %}
      </ol>
      <a href="#" class="btn btn-primary">Add match</a>
    </div>
  </div>
</div>

<table class="table align-middle">
  <tbody>
    {% for match in all_matches %}
    <tr>
      <th scope="col">{{ match.home_team }} </th>
      <td scope="col">{{ match.home_team_score }} </td>
      <td rowspan="2" class="text-center border"> {{ match.date }}</td>
      <td rowspan="2" class="text-center border"> {{ match.league.name }}</td>
    </tr>
    <tr>
      <th scope="row">{{ match.away_team }}</th>
      <td>{{ match.away_team_score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

 <!-- edit matches, credit to CI-Walkthrough  -->

 {% if user.is_authenticated and league_instance.league_member == user %}
 <button class="btn btn-edit"
   match_id="{{ match.id }}">Edit</button>
 {% endif %}

    <!-- Form for adding a match to a league credit to CI- Walkthrough  -->
    <div class="container ">
      <div class="col card justify-content-center">
          <div class="card-body">
            <h3>Add match</h3>
            
            <form id="AddMatchesForm" method="post">
              {{ add_matches_form | crispy }}
              {% csrf_token %}
              <button id="submitButton" type="submit"
                class="btn btn-lg">Submit</button>
            </form>
  
          </div>
        </div>
      </div>

<!---
<div class="container-fluid">
  <div class="row">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Player</th>
              <th scope="col">Games played</th>
              <th scope="col">Won</th>
              <th scope="col">Draw</th>
              <th scope="col">Lost</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">1</th>
              <td>test</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
  </div>
 
-->


{% endblock %}