{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
  body {
      background-image:none; /* Override the background image */
  }
</style>

    <!-- Form for adding a match to a league credit to CI- Walkthrough  -->
    <div class="container ">
        <div class="col card lg-mtch-mrg-bk">
            <div class="card-body">
              <h3>Edit match</h3>
              <p>Between Home Team <strong>{{ match.home_team }}</strong> And Away Team <strong>{{ match.away_team }}</strong></p>
              
              <form method="post" action="{% url 'edit_match' slug=slug match_id=match_id %}">
                {{ edit_matches_form | crispy }}
                {% csrf_token %}
                <button id="submit-button" type="submit"
                  class="btn btn-success btn-lg">Submit</button>
              </form>
            </div>
          </div>
        </div>
  

{% endblock %}