{% extends 'base.html' %}

{% block content %}

<style>
  body {
      background-image:none; /* Override the background image */
  }
</style>

<div class="container-fluid">
    <div class="row">
      {% for league in page_my_leagues %}
      <div class="col-sm-6 league-card-margin">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ league.name }}</h5>
            <p class="card-text">{{ league.description }}</p>
            <a href="{% url 'detailed_league' league.slug %}" class="btn btn-success">View league</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if page_my_leagues.has_other_pages %}
  <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          {% if page_my_leagues.has_previous %}
          <li><a href="?page={{ page_my_leagues.previous_page_number }}" class="page-link pagination-ct"> PREV &laquo;</a></li>
          {% endif %}

          {% if page_my_leagues.has_next %}
          <li><a href="?page={{ page_my_leagues.next_page_number }}" class="page-link pagination-ct"> NEXT &raquo;</a></li>
          {% endif %}
      </ul>
  </nav>
  {% endif %}

{% endblock %}