{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 p-3 text-center rounded lg-mtch-mrg-bk">
      <div class="table-container">
        <h3>All matches for {{ user }}</h3>
        <table class="table table-borderless align-middle">
          <tbody>
            {% for match in page_obj %}
            <tr class="upper-table-row">
              <th>{{ match.home_team }} </th>
              <td class="td-score">{{ match.home_team_score }} </td>
              <td rowspan="2" class="text-center"> {{ match.date|date:"M d" }}</td>
              <td rowspan="2" class="text-center"> {{ match.league.name }}</td>
            </tr>
            <tr class="bottom-table-row">
              <th>{{ match.away_team }}</th>
              <td class="td-score">{{ match.away_team_score }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> PREV &laquo;</a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>


{% endblock %}