{% extends 'base.html' %}

{% block content %}



    <table class="table align-middle">
      <tbody>
        {% for match in all_matches %}
        <tr>
          <th scope="col">{{ match.home_team }} </th>
          <td scope="col">{{ match.home_team_score }} </td>
          <td rowspan="2" class="text-center border"> {{ match.date }}</td>
          <td rowspan="2" class="text-center border"> {{ match.league.name }}</td>
        </tr>
        <tr>
          <th scope="row">{{ match.away_team }}</th>
          <td>{{ match.away_team_score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}